.navContainer, .linksContainer, .linksWrapper ul, .btnWrapper {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F2F9F6;
    z-index: 1000;
}

.navContainer {
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 16px 0;
    width: 70%;
}

.logoContainer {
    cursor: pointer;
}

.linksWrapper ul {
    gap: 28px;
}

.linksWrapper ul li {
    list-style: none;
}

.linksWrapper ul li a {
    text-decoration: none;
    color: var(--paragraph01);
    font-family: var(--font-roboto);
    font-weight: 400;
}

.btnWrapper {
    margin-left: 63px;
    gap: 25px;
    align-items: center;
}

.registerBtn {
    font-family: var(--font-roboto);
    font-weight: 700;
    text-decoration: underline;
    color: var(--secondery);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
}

.signupBtn {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--secondery);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 97px;
    height: 38px;
    cursor: pointer;
}

.linksWrapper ul li a:hover {
    color: var(--secondery);
}