/* PLUS JAKARTA SANS Fonts */
@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* ROBOTO Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto/Roboto-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('./assets/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-pacifico: 'Pacifico', sans-serif;
    --secondery: #01A84D;
    --third: #25D366;
    --fifth: #FAFCF8;
    --paragraph01: #262626;
    --paragraph02: #727272;
    --textColor01: #275C45;
    --placeHolder: #989DA6;
    --border01: #B4E0D3;
    --shadown: 0 10px 20px -5px #06245C0F;
    --dropShadow: 0 9.25px 18.51px -4.63px #06245C0F;
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 76.5px;
    margin: 0;
    background: linear-gradient(to bottom, #F2F9F6, #FFFFFF);
    min-height: 100vh;
    width: 100%;
}